  <h2 class="text-align">List of users</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Ram</td>
      <td>Chadar</td>
      <td class= "btn btn-danger">Delete</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Amol</td>
      <td>Bansode</td>
      <td class= "btn btn-danger">Delete</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Yog</td>
      <td>Solunke</td>
      <td class= "btn btn-danger">Delete</td>
    </tr>
  </tbody>
</table>